<% if @diffuser.errors.any? %>
  <% @diffuser.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit diffuser #<%= @diffuser.id %>
</h1>

<hr>

<form action="/update_diffuser/<%= @diffuser.id %>" method="post">

  <div class="form-group">
    <label for="emotions_id">
      Emotions
    </label>

    <input type="text" id="emotions_id" name="emotions_id" class="form-control" value="<%= @diffuser.emotions_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update diffuser
  </button>
</form>

<hr>

<a href="/diffusers">
  Go back
</a>
