<% if @diffuser.present? %>
  <% if @diffuser.errors.any? %>
    <% @diffuser.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new diffuser
</h1>


<hr>

<form action="/create_diffuser" method="post">

  <div class="form-group">
    <label for="emotions_id">
      Emotions
    </label>

    <input type="text" id="emotions_id" name="emotions_id" class="form-control" value="<%= @diffuser.emotions_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create diffuser
  </button>
</form>

<hr>

<a href="/diffusers">
  Go back
</a>
