<h1>
  Add a new diffuser
</h1>


<hr>

<!-- Form diffuser start -->
<form action="/create_diffuser" method="post">
<!-- Form diffuser end -->

  <!-- Label and input for emotions_id start -->
  <div class="form-group">
    <label for="emotions_id">
      Emotions
    </label>

    <!-- Input for emotions_id start -->
    <input type="text" id="emotions_id" name="emotions_id" class="form-control">
    <!-- Input for emotions_id end -->
  </div>
  <!-- Label and input for emotions_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create diffuser
  </button>
</form>

<hr>

<a href="/diffusers">
  Go back
</a>
