<h1>
  Add a new solution
</h1>


<hr>

<form action="/create_solution" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="emotion_id">
      Emotion
    </label>

    <%= select_tag(:emotion_id, options_from_collection_for_select(Emotion.all, :id, :name, @solution.emotion_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create solution
  </button>
</form>

<hr>

<a href="/solutions">
  Go back
</a>
