<h1>
  Add a new perspective
</h1>


<hr>

<!-- Form perspective start -->
<form action="/create_perspective" method="post">
<!-- Form perspective end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for quotes start -->
  <div class="form-group">
    <label for="quotes">
      Quotes
    </label>

    <!-- Input for quotes start -->
    <textarea id="quotes" name="quotes" class="form-control" rows="3"></textarea>
    <!-- Input for quotes end -->
  </div>
  <!-- Label and input for quotes end -->

  <!-- Label and input for emotion_id start -->
  <div class="form-group">
    <label for="emotion_id">
      Emotion
    </label>

    <!-- Input for emotion_id start -->
    <%= select_tag(:emotion_id, options_from_collection_for_select(Emotion.all, :id, :name, @perspective.emotion_id), :class => "form-control") %>
    <!-- Input for emotion_id end -->
  </div>
  <!-- Label and input for emotion_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create perspective
  </button>
</form>

<hr>

<a href="/perspectives">
  Go back
</a>
