<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Solutions

    <a data-toggle="collapse" href="#emotion_solutions_new_form">
      Add solution
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @emotion.solutions.each do |solution| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/solutions/<%= solution.id %>">
          <%= solution.description %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_solution_from_emotion/<%= solution.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="emotion_solutions_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
