<form action="/create_solution_from_emotion" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @solution.description %></textarea>
  </div>

  <input type="hidden" name="emotion_id" value="<%= @emotion.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create solution
  </button>
</form>
