<h1>
  Edit emotion #<%= @emotion.id %>
</h1>

<hr>

<!-- Form emotion start -->
<form action="/update_emotion/<%= @emotion.id %>" method="post">
<!-- Form emotion end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @emotion.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for user_id start -->
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update emotion
  </button>
</form>

<hr>

<a href="/emotions">
  Go back
</a>
