<h1>
  Add a new emotion
</h1>


<hr>

<form action="/create_emotion" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control">
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create emotion
  </button>
</form>

<hr>

<a href="/emotions">
  Go back
</a>
